.navbar-introduction {
    background-color: black;
}

.introduction-page {
    height: 40vw;
}

.white-line {
    border-bottom: 1px solid rgba(255,255,255,.25);
    width: 70vw;
    margin: auto;
}

h1 {
    font-family: "Oswald", sans-serif;
    /* font-optical-sizing: auto; */
  font-weight: weight;
  /* font-style: normal; */
  font-size: 3vw;
}

/* .white-lines-1 {
    position: relative;
    top: 20vh;
    right: 40vw;
    border-bottom: 4px solid white;
    width: 10vw;
    margin: auto;
}

.white-lines-2 {
    position: relative;
    top: ;
    right: ;
    border-bottom: 4px solid white;
    width: 10vw;
    margin: auto;
}

.white-lines-3 {
    position: relative;
    top: ;
    right: ;
    border-bottom: 4px solid white;
    width: 10vw;
    margin: auto;
}

.white-lines-4 {
    position: relative;
    top: 700px;
    left: ;
    border-bottom: 4px solid white;
    width: 10vw;
    margin: auto;
}

.white-lines-5 {
    position: relative;
    top: px;
    right: ;
    border-bottom: 4px solid white;
    width: 10vw;
    margin: auto;
}

.white-lines-6 {
    position: relative;
    top: ;
    right: ;
    border-bottom: 4px solid white;
    width: 10vw;
    margin: auto;
} */

#about-me {
    height: 40vw;
    background-color: #1A1A1A;
}
